.home{
  background: rgb(235,235,235);
}
.swipe{
  width: 100%;
  height: 2.65rem;
  margin: 0 auto;
  overflow: hidden;
  .swipeItem{
    width: 100%;
    float: left;
    img{
      width: 100%;
      height:2.65rem;
    }
  }
}
.homebar{
  background: white;
  ul{
    padding-top: .2rem;
    padding-bottom: .2rem;
    margin-left: .05rem;
    overflow: hidden;
    width: 100%;
    height: 100%;
    li{
      float: left;
      width: 25%;
      img{
        width: .3rem;
        height: .3rem;
      }
      span{
        margin-top: .1rem;
        display: block;
      }
    }
  }
}

.fojvheader{
  margin-top: .1rem;
  padding: .05rem;
  background: white;
  width: 100%;
  height: .43rem;
  img{
    width: .3rem;
    margin-top: .05rem;
    height: 100%;
    float: left;
    margin-left: .3rem;
  }
  .line{
    height: 100%;
    border: 1px solid #e0e0e0;
    float: left;
    margin-left: .2rem;
  }
  .fojvnews{
    margin-left: 1rem;
    width: 2rem;
    .headernews{
      width: 1.9rem;
      height: .2rem;
      text-align: left;
      line-height: .2rem;
      .item-type{
        color: #d1616a;
        background-color: #f9e6e9;
        font-size: .11rem;
        padding: 0 0.05rem;
        border-radius: 0.04rem;
      }
      .item-content{
        font-size: .13rem;
        padding: 0 .1rem;
      }
    }
  }
}
.fojvactive{
  margin-top: .1rem;
  padding: .05rem;
  background: white;
  height: 100%;
  width: 100%;
  .activeheader{
    width: 100%;
    height: .3rem;
    span{
      font-size: .2rem;
      float: left;
      margin: .05rem 0 0 .15rem;
    }
    a{
      float: right;
      font-size: .12rem;
      margin-top: .1rem;
      margin-right: .15rem;
      color: #999;
    }
  }
  .activeswipe{
    height: 2.61rem;
    margin: .1rem .15rem .15rem .15rem;
    overflow: hidden;
    .activeitem{
      width: 100%;
      height: 100%;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
}
.fojvbk{
  width: 100%;
  padding: .05rem;
  height: 1.0rem;
  background: white;
  overflow: hidden;
  position: relative;
  margin: .1rem auto .1rem auto;
  .activeheader{
    width: 100%;
    height: .2rem;
    span{
      font-size: .2rem;
      float: left;
      margin: .05rem 0 0 .15rem;
    }
    a{
      float: right;
      font-size: .12rem;
      margin-top: .1rem;
      margin-right: .15rem;
      color: #999;
    }
  }
}
.fojvbknav {
  margin-top: .1rem;
  position: absolute;
  width:100%;
  li{
    float: left;
    //padding: .5rem;
    width: 19%;
  }
  img{
    width: .55rem;
    height:.55rem;
  }
  span{
    display: block;
    color: white;
    margin-top: -0.32rem;
  }
}
.hot{
  width: 100%;
  background: white;
  height: 100%;
  margin: .1rem 0 .1rem 0;
  .activeheader{
    width: 100%;
    height: .15rem;
    span{
      font-size: .2rem;
      float: left;
      margin: .05rem 0 0 .15rem;
    }
    a{
      float: right;
      font-size: .12rem;
      margin-top: .1rem;
      margin-right: .15rem;
      color: #999;
    }
  }
  .mint-tab-container{
    height: 100%;
    margin-top: 0;
  }
}
.footerlink{
  width: 100%;
  height: 100%;
  border: 1px solid #2f3130;
  position: relative;
  margin: .2rem auto .44rem auto;
  background: #2f3130;
  p{
    height: .15rem;
    padding: .05rem;
    line-height: .15rem;
    font-size: .13rem;
    text-align: left;
    color: #727373;
  }
  ul{
    height: .3rem;
  }
  li{
    margin: .1rem ;
    font-size: .13rem;
    color: #727373;
    float: left;
  }
  .footerlink-right{
    p{
      text-align: right;
      font-size: .13rem;
    }
  }
}
.content{
  width: 100%;
  height: 100%;
  overflow: hidden;
  li{
    width: 100%;
    height: 1.1rem;
    border-bottom: 1px solid #cccccc;
    list-style: none;
    img{
      width: 38%;
      height: 1.1rem;
      float: left;
    }
    .info{
      display: block;
      width: 58%;
      float: right;
    }
    p:nth-child(1){
      text-align: left;
      font-size: .16rem;
      padding: .15rem .05rem;
    }
    p:nth-child(2){
      text-align: left;
      padding: 0 .05rem;
      font-size: .12rem;
      color: #999;
    }
    p:nth-child(3){
      text-align: left;
      font-size: .12rem;
      color: #999;
      padding: .15rem .05rem;
      span{
        color: red;
        font-size: .17rem;
        font-weight: bolder;
      }
    }
  }
}

footer{width: 100%; display: flex; border-top: 1px solid #cccccc;padding: .1rem 0;position: fixed;bottom: 0;  }
footer a{flex: 1}
